@font-face {
	font-family: GearedSlab;
	src: url("../fonts/GearedSlab.ttf") format("opentype");
}


@font-face {
	font-family: GearedSlab-Bold;
	src: url("../fonts/GearedSlab-Bold.ttf") format("opentype");
}


body {
	margin:0;
	padding:0;
}

#slideshow, img.bgM {
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index:-9999;
}

.responsive-wrapper {
	  width: 100%;
	  position: fixed;
	  bottom: 0px;
	  margin: 0px;
	  padding: 0px;
	  left: 0px;

	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.theme-title {
	font: 32px 'Source Sans Pro', sans-serif;
	text-align: center;

}

.maintitle {
	vertical-align:middle;
	text-align:center;

}

@media only screen and (max-width: 1000px) {
	#maintitle {
		font-size: 40px;
		margin-left: 60px;
		margin-right: 60px;
		margin-top: 120px;
	}
	div.keyshortcuts{
		display: none;
	}
	ul.keyshortcuts{
		display: none;
	}
}



div.photocred {
	width: 160px;
	position:fixed;
	left:2px;
	top:4px;
	font-family: GearedSlab-Bold,'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: white;
	text-align: left;
	display:block;
}

a.photocred {
	color:white;
	font-family: GearedSlab-Bold, 'Source Sans Pro', sans-serif;
}

div.keyshortcuts{
	display: block;
	position: fixed;
	width: 160px;
	right: 2px;
	top: 4px;
}

ul.keyshortcuts{
	font-family: GearedSlab;
	font-size: 16px;
	color:white;
	text-align:left;
	list-style-type: none;
	margin: 0px;
	text-shadow: 1px 1px black;
}

div.maintitle {
	margin-top: 15%;
	margin-bottom:25%;

}

@media only screen and (max-width: 1000px) {
	#maintitle {
		font-size: 40px;
		margin-left: 60px;
		margin-right: 60px;
		margin-top: 120px;
	}

	#subtext {
		max-width:80%;
	}
}

h1 {
	background: url('https://s3.amazonaws.com/Homestage/images/wood-pattern.jpg');
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:GearedSlab-Bold;
	font-size: 80px;
	color: white;
	

	/*text-shadow: 2px 2px;*/
}

h2 {
	font-family: GearedSlab, San-serif;
	font-size: 25px;
	color: white;
	position: relative;
	top: 0px;
	max-width:60%;
	margin-left:auto;
	margin-right:auto;
	text-shadow: 1px 1px black;

}

span.jp-title{
	margin-left:10px;
	position:relative;
}